*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.caixa{
    width: 300px;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 0.5vw;
}

article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}